.login-button{
    display: flex;
    justify-content: flex-end;
    margin : 20px;
    cursor: pointer;
}
.logo-img{
    display: flex;
    justify-content: center;
}
.menu-area{
    display: flex;
    justify-content: space-between;
}
.menu-list{
    display: flex;
    list-style-type: none;
}
.menu-list li{
    padding : 10px;
}

.card{
    border:none !important;
    margin-bottom: 10px;
  }

.card:hover{
    transform: scale(1.1);
    z-index:1;
}

.choice{
    font-size:11px;
    color: #63786a;
    font-weight: bold;
    height: 20px;
  }

.product-img{
    display: flex;
    justify-content: flex-end;
}